.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  margin: 50px;
}
.footer-right {
  display: flex;
  gap: 50px;
}
.footer-right img {
  height: 60px;
  width: 60px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: 0.3s;
}
.footer-right img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 1400px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 50px;
  }
  .footer-right img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 1024px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 50px;
  }
  .footer-right img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 50px;
  }
  .footer-right img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 480px) {
  .footer {
    margin: 50px 30px;
  }
  .footer-left p {
    font-size: 14px;
    text-align: center;
  }
  .footer-bottom {
    margin-bottom: 50px;
    gap: 30px;
  }
  .footer-right img {
    height: 30px;
    width: 30px;
  }
}
